*.meta
/*
!/.git
!/.github
!/.gitignore
!/.LICENCE
!/.README.md
!/Assets
/Assets/*
!/Assets/Varneon
/Assets/Varneon/*
!/Assets/Varneon/Udon Prefabs
!/Assets/Varneon/Udon Prefabs/Essentials/Music Player/Textures/*.png.meta