*.meta
/*
!/.git
!/.github
!/.gitignore
!/.LICENCE
!/.README.md
!/Assets
/Assets/*
!/Assets/Varneon
/Assets/Varneon/*
!/Assets/Varneon/Resources
!/Assets/Varneon/Resources/Icons
!/Assets/Varneon/Resources/Icons/*.png.meta
!/Assets/Varneon/Udon Prefabs
!/Assets/Varneon/Udon Prefabs/Essentials/Music Player/Textures/*.png.meta